/Browser Chooser 2/obj

/Browser Chooser 2/bin
.vs/Browser Chooser 2/Browser Chooser 2.scgdat
/Browser Chooser 2.suo
/Browser Chooser 2/Browser Chooser 2.vbproj.user
/SepCombo/obj
/SepCombo/bin
/.vs/Browser Chooser 2/v14/*.suo
/Browser Chooser 2/Resources/*.lnk
